@import "tailwindcss";
@tailwind utilities;
@config "../../tailwind.config.ts";

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --background: #F3F5F8;
  --foreground: #2C2C2C;
  --font-manrope: 'Manrope';
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope);
}